
body {
    padding-bottom: 50px;
}

.selectedDiv{
    outline-style: solid;
    outline-width: 4px;
    outline-color: #294bc0;
}

.recommended{
    color: #294bc0;
}

#logo{
    margin-left: 5%;
    margin-top: 20;
    height: 18%;
    width: 16%;
}

#Summary{
    color: white;
    cursor: pointer;
    background-color: black;
    display: inline-block;
    text-align: center;
    font-family: 'Palatino';
    font-family: oblique;
    font-size: 150%;
    padding: 20 20 20 20;
    margin-left: 50%
}

h1 {
    background-color: #294bc0;
    border-radius: 5px;
    color: white;
    font-family: 'Palatino';
    font-style: oblique;
    margin-bottom: 1.5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    text-align: center;
}

h2 {
    background-color: #294bc0;
    border-radius: 5px;
    clear: both;
    color: white;
    font-family: 'Palatino';
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 0.2%;
}

#header{
    clear: both;
    font-family: 'Palatino';
    margin-bottom: 1.5%;
    text-align: center;
}

#coat-header{
    display: inline;
    font-family: 'Palatino';
    margin-right: 5%;
}

#pants-header{
    display: inline;
    font-family: 'Palatino';
    margin-left: 5%;
}


#opButton{
    margin-right: 3.5%;
    margin-left: 11.5%;
    padding: 10;
    padding-left: 15;
    padding-right: 15;
    background-color: #294bc0;
    color: white;
    border-radius: 100%;
    text-align: center;
    display: inline;
    font-family: 'Palatino';
    cursor: pointer;
}

.opCoat{
    margin-right: 2.5%;
    margin-left: 1.5%;
    padding: 10;
    padding-left: 15;
    padding-right: 15;
    background-color: #294bc0;
    color: white;
    border-radius: 100%;
    text-align: center;
    display: inline;
    font-family: 'Palatino';
    cursor: pointer;
}

#opMonogram{
    margin-right: 10.5%;
    margin-left: 1.4%;
    padding: 10;
    padding-left: 15;
    padding-right: 15;
    background-color: #294bc0;
    color: white;
    border-radius: 100%;
    text-align: center;
    display: inline;
    font-family: 'Palatino';
    cursor: pointer;
}

.opPant{
    margin-right: 3.5%;
    margin-left: 1%;
    padding: 10;
    padding-left: 15;
    padding-right: 15;
    background-color: #294bc0;
    color: white;
    border-radius: 100%;
    text-align: center;
    display: inline;
    font-family: 'Palatino';
    cursor: pointer;
}

.sectionTitle{
    color: #294bc0;
    font-family: 'Palatino';
    font-size: 150%;
    font-weight: bold;
    margin-top: 6%;
    margin-bottom: 3%;
    text-align: center;
}

.subHeaders:not(#Monogram):not(#MonogramPants):not(#Pocket):not(#sumDiv){
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}
.subHeaders:not(#Monogram):not(#MonogramPants):not(#MonogramPants):not(#sumDiv) div{
    cursor: pointer;
    display: inline-block;
    font-family: 'Palatino';
    font-size: 115%;
    font-weight: bold;
    text-align: center;
}
.subHeaders:not(#Monogram):not(#MonogramPants):not(#MonogramPants):not(#sumDiv):after{
    content: '';
    width: 100%; /* Ensures justification for single lines */
    display: inline-block;
}

#Pocket div{
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
}
#Pocket div div{
    display: inline-block;
    font-family: 'Palatino';
    font-size: 115%;
    font-weight: bold;
    text-align: center;
}
#Pocket div:after{
    content: '';
    width: 100%; /* Ensures justification for single lines */
    display: inline-block;
}

.monoFormSec{
    display: inline-block;
}

.liningFormSec{
    display: inline-block;
}

#pocketSectionSubtitle{
    font-family: 'Palatino';
    font-size: 115%;
    font-weight: bold;
    text-align: center;
}

#Pocket div p{
    font-size: 80%;
    font-weight: normal;
}

#pantsPocket div p{
    font-size: 80%;
    font-weight: normal;
}

#pantsPocket div div{
    margin-left: 29px;
    margin-right: 29px;
}

#IntAdL div{
    margin-left: 120px;
    margin-right: 120px;
}

#IntAdR div{
    margin-left: 120px;
    margin-right: 120px;
}

#breastOuter div{
    margin-left: 110px;
    margin-right: 110px;
}

#ticket div{
    margin-left: 110px;
    margin-right: 110px;
}

#lowerOuter div{
    margin-left: 50px;
    margin-right: 50px;
}

#summaryDiv{
    cursor: default;
    margin-left: 100px;
    font-weight: normal;
}




